.App
{
  padding-left: 2.5%;
  width: 95%;
  height: 100%;
}



.header, .information
{
  padding-left: 5%
}

p
{
  font-size: 10px;
}

.content
{
  padding-top: 2.5%;
  text-align: center;
}

.report
{
  text-align: center;
  display: inline-table;
  width: 25%;
  word-wrap: break-word;
}
