.App{
  padding-left: 2.5%;
  width: 95%;
  height: 100%;
}

hr{
  border-top: 2px solid black;
  margin-top: 10px;
  margin-bottom: 5px;
}
p{
  font-size: 10px;
}

.report{
  text-align: center;
  width: 80%;
}
